<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="server" value="192.168.1.168"/>
    <add key="path" value="Server_NAS\image seiko\Leroy Merlin"/>
    <add key="username" value="imagine"/>
    <add key="password" value="imagine"/>
    <add key="drive" value="Z:"/>
    
  </appSettings>
</configuration>